body{
    background-color: blueviolet;
    color: black;
}

.heading{
    width: 80%;
    font-size: 22px;
}

.name_of_object{
    color: black;
}

#camera, #result{
    border: 2px dashed purple;
    width: 300px;
    height: 300px;
}